In [21]:
import pandas as pd

In [22]:
import tf_idf
import ELMo
import bag_of_words

In [23]:
main_data = pd.read_csv('/Users/andrewsimon/Desktop/Dow_dat.csv')

In [24]:
embeddings = tf_idf.generate_tfidf_embeddings(main_data, 'Report', 'Level')

In [25]:
embeddings

,00,10,10th,11,11th,12,12th,13th,14th,15,...,will,wiring,with,within,without,work,worker,workers,working,Level
0,0.000000,0.0,0.197289,0.000000,0.0,0.170463,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,2
1,0.079682,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.196644,0.0,0.0,0.000000,0.0,0.0,3
2,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,4
3,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.104187,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1
4,0.000000,0.0,0.000000,0.186074,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.140699,0.0,0.0,3
296,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.139052,0.0,0.0,5
297,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.144637,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.113251,0.0,0.0,4
298,0.103253,0.0,0.000000,0.150092,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.096507,0.0,0.0,2
299,0.134657,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1

In [26]:
embeddings['Report']

KeyError: 'Report'

In [18]:
embeddings_bow = bag_of_words.generate_bow_embeddings(main_data, 'Report', "Level")

In [20]:
embeddings_bow

,00,10,10th,11,11th,12,12th,13th,14th,15,...,will,wiring,with,within,without,work,worker,workers,working,Level
0,0,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,3
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4
3,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3
296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,5
297,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,4
298,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,2
299,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [19]:
embeddings_bow["Report"].values

KeyError: 'Report'

In [7]:
embeddings

,00,10,10th,11,11th,12,12th,13th,14th,15,...,will,wiring,with,within,without,work,worker,workers,working,Level
0,0.000000,0.0,0.197289,0.000000,0.0,0.170463,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,2
1,0.079682,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.196644,0.0,0.0,0.000000,0.0,0.0,3
2,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,4
3,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.104187,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1
4,0.000000,0.0,0.000000,0.186074,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.140699,0.0,0.0,3
296,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.139052,0.0,0.0,5
297,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.144637,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.113251,0.0,0.0,4
298,0.103253,0.0,0.000000,0.150092,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.096507,0.0,0.0,2
299,0.134657,0.0,0.000000,0.000000,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,0.0,0.0,1

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(embeddings,
                                                    main_data['Level'], test_size=0.2, random_state=42)